<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/ionicons/css/w3.css">
    <link rel="stylesheet" href="/css/ionicons/css/ionicons.min.css">
    <title>Golang Basic App</title>
    <style>
        .hoverbtn:hover {
            font-weight: bold;
            opacity: 0.4;
        }

        a {
            text-decoration: none;
        }

        #searchInput {
            background-image: url('/css/images/searchicon.png'); /* Add a search icon to input */
            background-position: 10px 12px; /* Position the search icon */
            background-repeat: no-repeat; /* Do not repeat the icon image */
            width: 100%; /* Full-width */
            font-size: 16px; /* Increase font-size */
            padding: 12px 20px 12px 40px; /* Add some padding */
            border: 1px solid #ddd; /* Add a grey border */
            margin-bottom: 12px; /* Add some space below the input */
        }

        *  {
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	color: #333;
	font-size: 1em;
}
a:link,
a:visited,
a:hover,
a:active {
	color: #000;
	text-decoration: none;
}
.container {
  margin: 50px auto;
  padding: 0 50px;
  max-width: 960px;
}
table { 
	background: #FFF;
	border-collapse: collapse;
	width: 100%;  
}
td,
th { 
	padding: 4px; 
	border: 2px solid #000;
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
}
th { 
	background-color: #DDD; 
	font-weight: 600;
}
th a,
td a { 
	display: block;
	width: 100%;
}
th a.sort-by { 
	padding-right: 18px;
	position: relative;
}
a.sort-by:before,
a.sort-by:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
a.sort-by:before {
	border-bottom-color: #666;
	margin-top: -9px;
}
a.sort-by:after {
	border-top-color: #666;
	margin-top: 1px;
}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="w3-row-padding">
    <div class="w3-card-2 w3-margin-top">
        <header class="w3-container w3-center w3-teal">
            <div class="w3-row">
                <div class="w3-half">
                    <h3 class="w3-right">Customer Details</h3>
                </div>
                <div class="w3-half w3-text-right">
                    <div class="w3-right">
                        <a href="#" onclick="createCustomer()">
                            <i class="icon ion-ios-plus-outline w3-xxlarge hoverbtn"></i>
                        </a>
                        <a href="/logout">
                            <i class="icon ion-log-out w3-xxlarge hoverbtn"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <input type="text" id="searchInput" onkeyup="searchFunction()" placeholder="Search">

        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable" id= "userTable">
          <thead>
          <tr>
              <th scope = "col"><a href="#" class="sort-by" onclick="sortTable(0)">No</a></th>
              <th scope = "col"><a href="#" class="sort-by" onclick="sortTable(1)">Id</a></th>
              <th scope = "col"><a href="#" class="sort-by" onclick="sortTable(2)">Name</a></th>
              <th scope = "col"><a href="#" class="sort-by" onclick="sortTable(3)">Email</a></th>
              <th scope = "col"><a href="#" class="sort-by" onclick="sortTable(4)">Amount</a></th>
              <th scope = "col"><a href="#" class="sort-by" onclick="sortTable(5)">Contact Number</a></th>
              <th scope = "col"><a href="#" class="sort-by" onclick="sortTable(6)">Credit Date</a></th>
              <th>Actions</th>

          </tr>
          </thead>
          <tbody>
          {{range $index, $Customer := .}}
          <tr>
              <td>#{{addOne $index}}</td>
              <td>{{$Customer.CusID}}</td>
              <td name = "Name" id="username">{{$Customer.Name}}</td>
              <td name = "Email" id="useremail">{{$Customer.Email}}</td>
              <td name = "Amount" id="useramt">{{$Customer.Amount}}</td>
              <td name = "Number" id="usernum">{{$Customer.Number}}</td>
              <td name = "CreditDate" id="userdate">{{$Customer.CreditDate}}</td>
              <!--<td>{{$Customer.CreditDate}}</td>-->
              <td>
                  <button class="w3-btn w3-teal" onclick="updateCustomer(this);">Modify</button>
                  <button class="w3-btn w3-red" onclick="deleteCustomer(this)">Delete</button>
                  <button class="w3-btn w3-teal" onclick="generatePdf(this);">Place Order</button>
              </td>
          </tr>
          {{end}}
          </tbody>
      </table>

    </div>
</div>

<!-- Create Modals -->
<div class="w3-container">
    <div id="create-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Create new Customer</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('create-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container" action="/createCustomer" method="post">
                <input type="hidden" name="Id" id="retailerId">
                <label class="w3-label">Name</label>
                <input class="w3-input" type="text" name="Name" placeholder="Full Name of Customer">
                <label class="w3-label">Email</label>
                <input class="w3-input" type="text" name="Email" placeholder="abc@abc.com">
                <label class="w3-label">Credit Amount</label>
                <input class="w3-input" type="number" name="Amount" placeholder="Enter Credit Amount">
                <label class="w3-label">Number</label>
                <input class="w3-input" type="text" name="Number" placeholder="Enter Contact Number">
                <label class="w3-label">Credit Date</label>
                <input class="w3-input" type="date" name="CreditDate" placeholder="Enter Credit Date">
                <button class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>


<!-- Edit Model -->
<div class="w3-container">
    <div id="edit-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h3>Edit Data (Please add data in all fields while updating)</h3>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('edit-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container" action="/updateCustomer" method="post">
                <input type="hidden" name="Id" id="customerIdToUpdate">
                <label class="w3-label">Name</label>
                <input class="w3-input" type="text" name="Name" id="editname" placeholder="Updated Name of Customer">
                <label class="w3-label">Email</label>
                <input class="w3-input" type="text" name="Email" placeholder="Updated Email">
                <label class="w3-label">Credit Amount</label>
                <input class="w3-input" type="number" name="Amount" placeholder="Updated Credit Amount">
                <label class="w3-label">Number</label>
                <input class="w3-input" type="text" name="Number" placeholder="Updated Contact Number">
                <label class="w3-label">Credit Date</label>
                <input class="w3-input" type="date" name="CreditDate" placeholder="Updated Credit Date">
                <button class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>


<!-- Delete Model -->
<div class="w3-container">
    <div id="delete-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Are you sure?</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('delete-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container" action="/deleteCustomer" method="post">
                <input type="hidden" name="Id" id="customerIdToDelete">
                <div class="w3-center">
                    <button class="w3-btn w3-red w3-margin-top w3-margin-bottom" type="submit">Delete</button>
                    <button type="button" class="w3-btn w3-teal w3-margin-top w3-margin-bottom"
                            onclick="document.getElementById('delete-form').style.display='none'">Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- generate Order Model -->
<div class="w3-container">
  <div id="order-form" class="w3-modal">
      <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px;">
          <!-- head -->
          <div class="w3-container w3-teal">
              <h2>Place Order</h2>
              <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                    onclick="document.getElementById('order-form').style.display='none'">&times;</span>
          </div>

          <form class="w3-container" action="/generatePdf" method="GET">
              <input type="hidden" name="Id" id="customerIdToPrint">
              <div class="w3-center">
              <div class=repeatingSection>
                  <select name="category1" class="required-entry" id="category1" onchange="javascript: dynamicdropdown1(this.options[this.selectedIndex].value);">
                      <option value="">Select Brand</option>
                      <option value="Apple">Apple</option>
                      <option value="OnePlus">OnePlus</option>
                      <option value="Samsung">Samsung</option>
                  </select>
                
                
                  <script type="text/javascript" language="JavaScript">
                     document.write('<select name="subcategory1" id="subcategory1"><option value="">Select Model</option></select>')
                  </script>
                <input type="number" id="quantity1" name="quantity1" min="1" max="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              
              <button class="w3-btn w3-teal w3-margin-top w3-margin-bottom" type="button" id="addBtn1">Add</button> 
              <output id= "output1"></output>
              
              <div class= repeat1 hidden>
                
                <select name="category2" class="required-entry" id="category2" onchange="javascript: dynamicdropdown2(this.options[this.selectedIndex].value);">
                    <option value=""|| null>Select Brand</option>
                    <option value="Apple">Apple</option>
                    <option value="OnePlus">OnePlus</option>
                    <option value="Samsung">Samsung</option>
                </select>
              
             
                <script type="text/javascript" language="JavaScript">
                   document.write('<select name="subcategory2" id="subcategory2"><option value="">Select Model</option></select>')
                </script>

              
              
              <input type="number" id="quantity2" name="quantity2" min="1" max="5">
            
            <button class="w3-btn w3-teal w3-margin-top w3-margin-bottom" type="button" id="addBtn2">Add</button>
            <button class="w3-btn w3-red w3-margin-top w3-margin-bottom" type="button" id="rmvBtn2">Remove</button>
          </div>
          <div class= repeat2 hidden>
            
              <select name="category3" class="required-entry" id="category3" onchange="javascript: dynamicdropdown3(this.options[this.selectedIndex].value);">
                  <option value=""|| null>Select Brand</option>
                  <option value="Apple">Apple</option>
                  <option value="OnePlus">OnePlus</option>
                  <option value="Samsung">Samsung</option>
              </select>
            
            
              <script type="text/javascript" language="JavaScript">
                 document.write('<select name="subcategory3" id="subcategory3"><option value="">Select Model</option></select>')
              </script>

            
            
            <input type="number" id="quantity3" name="quantity3" min="1" max="5">
          
          <button class="w3-btn w3-teal w3-margin-top w3-margin-bottom" type="button" id="addBtn3">Add</button>
          <button class="w3-btn w3-red w3-margin-top w3-margin-bottom" type="button" id="rmvBtn3">Remove</button>
        </div>  
        <div class= repeat3 hidden>
          
            <select name="category4" class="required-entry" id="category4" onchange="javascript: dynamicdropdown4(this.options[this.selectedIndex].value);">
                <option value=""|| null>Select Brand</option>
                <option value="Apple">Apple</option>
                <option value="OnePlus">OnePlus</option>
                <option value="Samsung">Samsung</option>
            </select>
          
          
            <script type="text/javascript" language="JavaScript">
               document.write('<select name="subcategory4" id="subcategory4"><option value="">Select Model</option></select>')
            </script>

          
          
          <input type="number" id="quantity2" name="quantity4" min="1" max="5">
        
        <button class="w3-btn w3-teal w3-margin-top w3-margin-bottom" type="button" id="addBtn4">Add</button>
        <button class="w3-btn w3-red w3-margin-top w3-margin-bottom" type="button" id="rmvBtn4">Remove</button>
      </div>  
      <div class= repeat4 hidden>
        
          <select name="category5" class="required-entry" id="category5" onchange="javascript: dynamicdropdown5(this.options[this.selectedIndex].value);">
              <option value=""|| null>Select Brand</option>
              <option value="Apple">Apple</option>
              <option value="OnePlus">OnePlus</option>
              <option value="Samsung">Samsung</option>
          </select>
        
        
          <script type="text/javascript" language="JavaScript">
             document.write('<select name="subcategory5" id="subcategory5"><option value="">Select Model</option></select>')
          </script>

        
        
        <input type="number" id="quantity5" name="quantity5" min="1" max="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      <button class="w3-btn w3-red w3-margin-top w3-margin-bottom" type="button" id="rmvBtn5">Remove</button>
    </div>

            </div>
              <br><br><br><br><br><br><br><br>
                  <button class="w3-btn w3-red w3-margin-top w3-margin-bottom" type="submit">Generate Bill</button>
                  <button type="button" class="w3-btn w3-teal w3-margin-top w3-margin-bottom"
                          onclick="document.getElementById('order-form').style.display='none'">Cancel
                  </button>
              </div>
              
          </form>
      </div>
  </div>
</div>
<script> 
  function createCustomer(){
    var createForm = document.getElementById('create-form');
    createForm.style.display = 'block';

  }
  function updateCustomer(e) {
    var editForm = document.getElementById('edit-form');
    // display update-form;
    editForm.style.display = 'block';
    // get cost id to update
    var customerId = e.parentNode.parentNode.childNodes[3].innerText;
    document.getElementById('customerIdToUpdate').value = customerId;
  }

  function deleteCustomer(e) {
    var deleteForm = document.getElementById('delete-form');
    deleteForm.style.display = 'block';
    var customerId = e.parentNode.parentNode.childNodes[3].innerText;
    document.getElementById('customerIdToDelete').value = customerId;
  }

  function generatePdf(e) {
    var orderForm = document.getElementById('order-form');
    orderForm.style.display = 'block';
    var customerId = e.parentNode.parentNode.childNodes[3].innerText;
    document.getElementById('customerIdToPrint').value = customerId;
  }

  function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("userTable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

// function searchFunction() {
//   // Declare variables
//   var input, filter, table, tr, td,td2,td3, i, txtValue;
//   input = document.getElementById("searchInput");
//   filter = input.value.toUpperCase();
//   table = document.getElementById("userTable");
//   tr = table.getElementsByTagName("tr");

//   // Loop through all table rows, and hide those who don't match the search query
//   for (i = 0; i < tr.length; i++) {
//     td = tr[i].getElementsByTagName("td")[2];
//     td2 = tr[i].getElementsByTagName("td")[3];
//     td3 = tr[i].getElementsByTagName("td")[5];

//     if (td || td2 || td3) {
//       txtValue = td.textContent || td.innerText;
//       if (txtValue.toUpperCase().indexOf(filter) > -1) {
//         tr[i].style.display = "";
//       } else {
//         tr[i].style.display = "none"
//       }
//     }
//   }
// }

function searchFunction() {

// Declare variables 
var input = document.getElementById("searchInput");
var filter = input.value.toUpperCase();
var table = document.getElementById("userTable");
var trs = table.tBodies[0].getElementsByTagName("tr");

// Loop through first tbody's rows
for (var i = 0; i < trs.length; i++) {

  // define the row's cells
  var tds = trs[i].getElementsByTagName("td");

  // hide the row
  trs[i].style.display = "none";

  // loop through row cells
  for (var i2 = 0; i2 < tds.length; i2++) {

    // if there's a match
    if (tds[i2].innerHTML.toUpperCase().indexOf(filter) > -1) {

      // show the row
      trs[i].style.display = "";

      // skip to the next row
      continue;

    }
  }
}

}

function dynamicdropdown1(listindex)
            {
                document.getElementById("subcategory1").length = 0;
                switch (listindex)
                {
                    case "Apple" :
                        document.getElementById("subcategory1").options[0]=new Option("Select Model","");
                        document.getElementById("subcategory1").options[1]=new Option("iPhone 11","iphone11");
                        document.getElementById("subcategory1").options[2]=new Option("iPhone 11 Pro","iphone11pro");
                        document.getElementById("subcategory1").options[3]=new Option("iPhone 11 Pro Max","iphone11promax");
                        break;
                    
                    case "OnePlus" :
                        document.getElementById("subcategory1").options[0]=new Option("Select Model","");
                        document.getElementById("subcategory1").options[1]=new Option("OnePlus 8","oneplus8");
                        document.getElementById("subcategory1").options[2]=new Option("OnePlus 8 Pro","oneplus8pro");
                        break;
                    case "Samsung" :
                        document.getElementById("subcategory1").options[0]=new Option("Select Model","");
                        document.getElementById("subcategory1").options[1]=new Option("Galaxy S10 Lite","s10lite");
                        document.getElementById("subcategory1").options[2]=new Option("Galaxy S20 Ultra","s20ultra");
                        document.getElementById("subcategory1").options[3]=new Option("Galaxy Note 10 Plus","note10plus");
                        break;
                }
                return true;
            }
            function dynamicdropdown2(listindex)
            {
              document.getElementById("subcategory2").length = 0;
                switch (listindex)
                {
                    case "Apple" :
                        document.getElementById("subcategory2").options[0]=new Option("Select Model",""|| null);
                        document.getElementById("subcategory2").options[1]=new Option("iPhone 11","iphone11"|| null);
                        document.getElementById("subcategory2").options[2]=new Option("iPhone 11 Pro","iphone11pro"|| null);
                        document.getElementById("subcategory2").options[3]=new Option("iPhone 11 Pro Max","iphone11promax"|| null);
                        break;
                    
                    case "OnePlus" :
                        document.getElementById("subcategory2").options[0]=new Option("Select Model",""|| null);
                        document.getElementById("subcategory2").options[1]=new Option("OnePlus 8","oneplus8"|| null);
                        document.getElementById("subcategory2").options[2]=new Option("OnePlus 8 Pro","oneplus8pro"|| null);
                        break;
                    case "Samsung" :
                        document.getElementById("subcategory2").options[0]=new Option("Select Model",""|| null);
                        document.getElementById("subcategory2").options[1]=new Option("Galaxy S10 Lite","s10lite"|| null);
                        document.getElementById("subcategory2").options[2]=new Option("Galaxy S20 Ultra","s20ultra"|| null);
                        document.getElementById("subcategory2").options[3]=new Option("Galaxy Note 10 Plus","note10plus"|| null);
                        break;
                }
                return true;
            }

            function dynamicdropdown3(listindex)
            {
              document.getElementById("subcategory3").length = 0;
                switch (listindex)
                {
                    case "Apple" :
                        document.getElementById("subcategory3").options[0]=new Option("Select Model",""|| null);
                        document.getElementById("subcategory3").options[1]=new Option("iPhone 11","iphone11");
                        document.getElementById("subcategory3").options[2]=new Option("iPhone 11 Pro","iphone11pro");
                        document.getElementById("subcategory3").options[3]=new Option("iPhone 11 Pro Max","iphone11promax");
                        break;
                    
                    case "OnePlus" :
                        document.getElementById("subcategory3").options[0]=new Option("Select Model",""|| null);
                        document.getElementById("subcategory3").options[1]=new Option("OnePlus 8","oneplus8"|| null);
                        document.getElementById("subcategory3").options[2]=new Option("OnePlus 8 Pro","oneplus8pro"|| null);
                        break;
                    case "Samsung" :
                        document.getElementById("subcategory3").options[0]=new Option("Select Model",""|| null);
                        document.getElementById("subcategory3").options[1]=new Option("Galaxy S10 Lite","s10lite")|| null;
                        document.getElementById("subcategory3").options[2]=new Option("Galaxy S20 Ultra","s20ultra"|| null);
                        document.getElementById("subcategory3").options[3]=new Option("Galaxy Note 10 Plus","note10plus"|| null);
                        break;
                }
                return true;
            }

            function dynamicdropdown4(listindex)
            {
              document.getElementById("subcategory4").length = 0;
                switch (listindex)
                {
                    case "Apple" :
                        document.getElementById("subcategory4").options[0]=new Option("Select Model",""|| null);
                        document.getElementById("subcategory4").options[1]=new Option("iPhone 11","iphone11"|| null);
                        document.getElementById("subcategory4").options[2]=new Option("iPhone 11 Pro","iphone11pro"|| null);
                        document.getElementById("subcategory4").options[3]=new Option("iPhone 11 Pro Max","iphone11promax"|| null);
                        break;
                    
                    case "OnePlus" :
                        document.getElementById("subcategory4").options[0]=new Option("Select Model",""|| null);
                        document.getElementById("subcategory4").options[1]=new Option("OnePlus 8","oneplus8"|| null);
                        document.getElementById("subcategory4").options[2]=new Option("OnePlus 8 Pro","oneplus8pro"|| null);
                        break;
                    case "Samsung" :
                        document.getElementById("subcategory4").options[0]=new Option("Select Model",""|| null);
                        document.getElementById("subcategory4").options[1]=new Option("Galaxy S10 Lite","s10lite"|| null);
                        document.getElementById("subcategory4").options[2]=new Option("Galaxy S20 Ultra","s20ultra"|| null);
                        document.getElementById("subcategory4").options[3]=new Option("Galaxy Note 10 Plus","note10plus"|| null);
                        break;
                }
                return true;
            }

            function dynamicdropdown5(listindex)
            {
              document.getElementById("subcategory5").length = 0;
                switch (listindex)
                {
                    case "Apple" :
                        document.getElementById("subcategory5").options[0]=new Option("Select Model",""|| null);
                        document.getElementById("subcategory5").options[1]=new Option("iPhone 11","iphone11"|| null);
                        document.getElementById("subcategory5").options[2]=new Option("iPhone 11 Pro","iphone11pro"|| null);
                        document.getElementById("subcategory5").options[3]=new Option("iPhone 11 Pro Max","iphone11promax"|| null);
                        break;
                    
                    case "OnePlus" :
                        document.getElementById("subcategory5").options[0]=new Option("Select Model",""|| null);
                        document.getElementById("subcategory5").options[1]=new Option("OnePlus 8","oneplus8"|| null);
                        document.getElementById("subcategory5").options[2]=new Option("OnePlus 8 Pro","oneplus8pro"|| null);
                        break;
                    case "Samsung" :
                        document.getElementById("subcategory5").options[0]=new Option("Select Model",""|| null);
                        document.getElementById("subcategory5").options[1]=new Option("Galaxy S10 Lite","s10lite"|| null);
                        document.getElementById("subcategory5").options[2]=new Option("Galaxy S20 Ultra","s20ultra"|| null);
                        document.getElementById("subcategory5").options[3]=new Option("Galaxy Note 10 Plus","note10plus"|| null);
                        break;
                }
                return true;
            }

$(document).ready(function(){
  $("#addBtn1").click(function(){
    $(".repeat1").show();
  });
  $("#addBtn2").click(function(){
    $(".repeat2").show();
  });
  $("#addBtn3").click(function(){
    $(".repeat3").show();
  });
  $("#addBtn4").click(function(){
    $(".repeat4").show();
  });
  $("#rmvBtn2").click(function(){
    $(".repeat1").hide();
    $(".repeat1").find("input[type=number],select").val("");
  });
  $("#rmvBtn3").click(function(){
    $(".repeat2").hide();
    $(".repeat2").find("input[type=number],select").val("");
  });
  $("#rmvBtn4").click(function(){
    $(".repeat3").hide();
    $(".repeat3").find("input[type=number],select").val("");
  });
  $("#rmvBtn5").click(function(){
    $(".repeat4").hide();
    $(".repeat4").find("input[type=number],select").val("");
  });
});
</script>
</body>
</html>